<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :digest %>
    <%= form.text_field :digest, id: :photo_digest %>
  </div>

  <div class="field">
    <%= form.label :filetype %>
    <%= form.text_field :filetype, id: :photo_filetype %>
  </div>

  <div class="field">
    <%= form.label :original_filename %>
    <%= form.text_field :original_filename, id: :photo_original_filename %>
  </div>

  <div class="field">
    <%= form.label :filename %>
    <%= form.text_field :filename, id: :photo_filename %>
  </div>

  <div class="field">
    <%= form.label :modifydate %>
    <%= form.datetime_select :modifydate, id: :photo_modifydate %>
  </div>

  <div class="field">
    <%= form.label :createdate %>
    <%= form.datetime_select :createdate, id: :photo_createdate %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :photo_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :photo_model %>
  </div>

  <div class="field">
    <%= form.label :orientation %>
    <%= form.text_field :orientation, id: :photo_orientation %>
  </div>

  <div class="field">
    <%= form.label :imagewidth %>
    <%= form.number_field :imagewidth, id: :photo_imagewidth %>
  </div>

  <div class="field">
    <%= form.label :imageheight %>
    <%= form.number_field :imageheight, id: :photo_imageheight %>
  </div>

  <div class="field">
    <%= form.label :gpslatitude %>
    <%= form.text_field :gpslatitude, id: :photo_gpslatitude %>
  </div>

  <div class="field">
    <%= form.label :gpslongitude %>
    <%= form.text_field :gpslongitude, id: :photo_gpslongitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
