
<!-- <h2>Stats</h2>
<p>
  Photos: <%= @n_photos %><br />
  Shots: <%= @n_shots %><br />
  Cameras: <%= @n_cameras %><br />
</p>

<h2>Shots</h2>
<table border=1>
  <thead>
    <tr>
      <th>Shot ID</th>
      <th>Photo count</th>
    </tr>
  </thead>

  <tbody>
    <% @photos_per_shot.each do |shot| %>
      <tr>
        <td><%= shot[:shot] %></td>
        <td><%= shot[:photos] %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
