<p id="notice"><%= notice %></p>

<h2>Stats</h2>
<p>
  Photos: <%= @n_photos %><br />
  Shots: <%= @n_shots %><br />
  Cameras: <%= @n_cameras %><br />
</p>
<p></p>
<h2>Shots</h2>
<table border=1>
  <thead>
    <tr>
      <th>Shot ID</th>
      <th>Photo count</th>
    </tr>
  </thead>

  <tbody>
    <% @photos_per_shot.each do |shot| %>
      <tr>
        <td><%= shot[:shot] %></td>
        <td><%= shot[:photos] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Photos</h2>
<div class="gallery">
  <% @photos.each do |photo| %>
    <figure class="gallery__item">
      <img src="<%= thumb_path(photo) %>" />
      <figcaption class="gallery__item-details">
        <strong>Shot:</strong> <pre><%= photo.shot_id %></pre>
        <strong>Digest:</strong> <pre><%= photo.digest %></pre>
        <strong>Filetype:</strong> <pre><%= photo.filetype %></pre>
        <strong>Original </strong> <pre><%= photo.original_filepath %></pre>
        <strong>Current </strong> <pre><%= photo.current_filepath %></pre>
        <strong>Modifydate:</strong> <pre><%= photo.modifydate %></pre>
        <strong>Createdate:</strong> <pre><%= photo.shot&.date %></pre>
        <strong>Datesource:</strong> <pre><%= photo.shot&.date_source %></pre>
        <strong>Imagewidth:</strong> <pre><%= photo.imagewidth %></pre>
        <strong>Imageheight:</strong> <pre><%= photo.imageheight %></pre>
      </figcaption>
    </figure>
  <% end %>
</div>
