<p id="notice"><%= notice %></p>

<h1>Photos</h1>
<h2>Stats</h2>
<p>
  Photos: <%= @n_photos %><br />
  Shots: <%= @n_shots %><br />
  Cameras: <%= @n_cameras %><br />
</p>
<p></p>
<h2>Shots</h2>
<table border=1>
  <thead>
    <tr>
      <th>Shot ID</th>
      <th>Photo count</th>
    </tr>
  </thead>

  <tbody>
    <% @photos_per_shot.each do |shot| %>
      <tr>
        <td><%= shot[:shot] %></td>
        <td><%= shot[:photos] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Photos</h2>
<table border=1>
  <thead>
    <tr>
      <th>Digest</th>
      <th>Filetype</th>
      <th>Original filepath</th>
      <th>Current filepath</th>
      <th>Modifydate</th>
      <th>Createdate</th>
      <th>Datesource</th>
      <th>Imagewidth</th>
      <th>Imageheight</th>
      <th>Shot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.digest %></td>
        <td><%= photo.filetype %></td>
        <td><%= photo.original_filepath %></td>
        <td><%= photo.current_filepath %></td>
        <td><%= photo.modifydate %></td>
        <td><%= photo.shot&.date %></td>
        <td><%= photo.shot&.date_source %></td>
        <td><%= photo.imagewidth %></td>
        <td><%= photo.imageheight %></td>
        <td><%= photo.shot_id %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
