<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Hash</th>
      <th>Filetype</th>
      <th>Original filename</th>
      <th>Filename</th>
      <th>Modifydate</th>
      <th>Createdate</th>
      <th>Make</th>
      <th>Model</th>
      <th>Orientation</th>
      <th>Imagewidth</th>
      <th>Imageheight</th>
      <th>Gpslatitude</th>
      <th>Gpslongitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.hash %></td>
        <td><%= photo.filetype %></td>
        <td><%= photo.original_filename %></td>
        <td><%= photo.filename %></td>
        <td><%= photo.modifydate %></td>
        <td><%= photo.createdate %></td>
        <td><%= photo.make %></td>
        <td><%= photo.model %></td>
        <td><%= photo.orientation %></td>
        <td><%= photo.imagewidth %></td>
        <td><%= photo.imageheight %></td>
        <td><%= photo.gpslatitude %></td>
        <td><%= photo.gpslongitude %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
