<p id="notice"><%= notice %></p>

<p>
  <strong>Digest:</strong>
  <%= @photo.digest %>
</p>

<p>
  <strong>Filetype:</strong>
  <%= @photo.filetype %>
</p>

<p>
  <strong>Original filepath:</strong>
  <%= @photo.original_filepath %>
</p>

<p>
  <strong>Current filepath:</strong>
  <%= @photo.current_filepath %>
</p>

<p>
  <strong>Modifydate:</strong>
  <%= @photo.modifydate %>
</p>

<p>
  <strong>Createdate:</strong>
  <%= @photo.createdate %>
</p>

<p>
  <strong>Make:</strong>
  <%= @photo.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @photo.model %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @photo.orientation %>
</p>

<p>
  <strong>Imagewidth:</strong>
  <%= @photo.imagewidth %>
</p>

<p>
  <strong>Imageheight:</strong>
  <%= @photo.imageheight %>
</p>

<p>
  <strong>Gpslatitude:</strong>
  <%= @photo.gpslatitude %>
</p>

<p>
  <strong>Gpslongitude:</strong>
  <%= @photo.gpslongitude %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
